/* *{
  margin: 0;
  padding: 0;
} */

html{
  font-family:'Oswald', sans-serif ;
  font-size: 0.9rem;
}
#root {
  background-color: beige;
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}

.features{
  background-color: #a3d2ca;
  box-sizing: border-box;
  border: 5px;
  border-radius: 5%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  max-width: 22%;
  /* display: inherit; */
}
#select {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
}
img {
  max-width: 100%;
 
}
button {
  /* position: fixed; */
  max-width: 80%;
  padding: 20px;
  border: black;
  border-radius: 15px;
  background-color: #344E5c;
  color: antiquewhite;
}

#header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #344E5c;
  border-radius: 20px;
  color: antiquewhite;

}

#back-link {
  display: flex;
  justify-items: flex-end;
}
@media  only screen and (max-width: 756px){
  html{
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 494px) {
  body {
    background-color: lightblue;
  }
  html{
    font-size: 0.5rem;
  }
}
@media  only screen and (max-width: 345px){
  html{
    font-size: 0.4rem;
  }
}