/* *{
  margin: 0;
  padding: 0;
} */
body{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
html{
  font-family:'Oswald', sans-serif ;
  font-size: 0.9rem;
}
#root {
  background-image: linear-gradient(to right,orange, blue,yellow,green,rgb(128, 75, 165));
  color:black;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap; 
   justify-content: center;
  max-width: 100%;
}
#headerContent {
  display: flex;
  justify-content: space-around;
}

.features{
  background-color: #a3d2ca;
  box-sizing: border-box;
  border: 5px;
  border-radius: 3%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 22.5%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  /* display: inherit; */
}
#select {
  width: 200px;
  padding: 3px;
  border-radius: 3px;
}
img {
  max-width: 100%;
 
}
button {
  /* position: fixed; */
  max-width: 80%;
  padding: 20px;
  border: black;
  border-radius: 15px;
  background-color: #344E5c;
  color: antiquewhite;
}
ul{
  
  padding: 20px;
}
li{
  
  max-width: 90%;
  list-style-type: none;
  margin-top: 5%;
  
}
#movieType{
  background-color: #c3d1d8;
 margin-right: 20px;
 width: 40%;
 box-shadow: 0 0 1rem #9ea5a5;
  
}

#header{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #344E5c;
  /* border-radius: 20px; */
  color: antiquewhite;
  width: 80%;

}
#movieListName{
  display: flex;
  /* padding-bottom: 10px; */
  cursor: pointer;
}
#MovieImage{
  width:250px;
  height: auto;
 
}
.show-more-button{
  cursor: pointer;
}
/* .PageForMovies{
  background-color: aqua;
  display: table;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 10px;
} */
#moviePage{
display: flex;
justify-content: center;
/* margin-top: 10px; */
max-Width: 100%;

}

#back-link {
  display: flex;
  
}
#summary {
  padding-left: 15px;
  width: 60%;
}
.PageForMovies h1:hover {
  color: #344E5c;
  /* opacity: 0.2; */
  transition: 0.3s;
  /* max-width: 80%; */
 

}
@media  only screen and (max-width: 722px){
  html{
    font-size: 0.6rem;
  }
 .PageForMovies{
   flex-direction: column;
 }
}
@media only screen and (max-width: 494px) {
  body {
    background-color: lightblue;
  }
  html{
    font-size: 0.5rem;
  }
  .PageForMovies{
    flex-direction: column;
  }
#moviePage{
  flex-direction: column;
}
}
@media  only screen and (max-width: 345px){
  html{
    font-size: 0.4rem;
  }
  .PageForMovies{
    flex-direction: column;
  }
  #moviePage{
    flex-direction: column;
  }
}